<article class="about">

<p>
    <strong>
    🚀 Ingeniero Informático | Desarrollador Full Stack | Analítica - Arquitectura de datos. <br><br>

    Apasionado por la ingeniería informática y el desarrollo de software. Poseo sólidos conocimientos 
    en JavaScript, CSS, HTML, Angular, TypeScript, NodeJS, Git, y GitHub. Mi experiencia incluye el uso 
    de metodologías ágiles y plataformas como Azure DevOps, así como la implementación y gestión de 
    contenedores Docker con Kubernetes.<br><br>

    En mi práctica profesional, he destacado en el área de analítica de datos, trabajando con bases de 
    datos SQL y aplicando la automatización de procesos con Python. Me destaco por mi responsabilidad y
    compromiso en mis actividades académicas y laborales, así como por mi capacidad para trabajar en 
    equipo y encontrar soluciones óptimas ante desafíos, estoy en el último semestre de mis estudios.<br><br>
    
    <div class="resume">
        <a href="https://drive.google.com/file/d/1UQfm9PAf5VF5p3xwUj4c5xmYcbBl5lfD/view?usp=sharing" target="_blank">
            <strong>Hoja de vida</strong>
        </a>
    </div>
    <div class="resume">
        <a href="https://drive.google.com/file/d/1k7dgtxBM1KLhFblFHOWjDI47mRWBQjdU/view?usp=sharing" target="_blank">
        <strong>Resume</strong>
        </a>
    </div>
    </strong>
</p>
</article>
